/* Remove underlinefrom specific links */
nav a {
    text-decoration: none;
}/* Styling for the hero section */

.hero img {
    display: block ;   
    width: 100%;
    height: auto;
}
/* Positioning the hero content */
.hero h1 {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    }
.hero article{
    position: absolute;
    bottom: 20px;
    left: 20px;
   background-color: rgba(0, 0, 0, 0.5);
   color: white;
   padding: 10px;
    }
/* Styling for article images */
.hero article img {
    float: right;
    margin: 10px;
    max-width: 50%;
}
.flex-box-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    background-color: #fff;

}